{% extends 'common/base.html' %}

{% block title %}
    Edit Book | BookHub
{% endblock %}

{% block content %}

<div style="max-width: 600px; margin: 0 auto;">

    <h1 style="text-align: center; margin-bottom: 2rem;">Edit Book</h1>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <div style="display: flex; gap: 1rem; align-items: center; justify-content: space-between; margin-top: 1.5rem;">
            <button type="submit">
                Save Changes
            </button>

            <a href="{% url 'book-detail' book.slug %}" class="btn btn-secondary">
                Cancel
            </a>
        </div>

    </form>

</div>

{% endblock %}